---
import { Picture } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import BoxedContent from '../components/BoxedContent.astro'
import FluidContent from '../components/FluidContent.astro'
import UsesList from '../components/UsesList.astro'
import CurrentBrowser from '../components/CurrentBrowser.vue'
import type { SEOData } from '../types/SEO'

import imageCodingByDay from '../assets/images/coding_by_day.jpg'
import imageCodingAtNight from '../assets/images/coding_at_night.jpg'

/// Page title
const title = 'Uses'

/// OpenGraph meta tags data
const seo: SEOData = {
  head: {
    title,
    description: 'My Wes Bos inspired /uses page.',
  },
  og: {
    type: 'website',
  },
}

export interface UsesSection {
  title: string
  secondTitle?: string
  uses: Uses[]
}

export interface Uses {
  title: string
  description: string
  url?: string
}

const entries: UsesSection[] = [
  {
    title: 'Editor',
    secondTitle: 'and Terminal',
    uses: [
      {
        title: 'Visual Studio Code',
        description: 'My go-to code editor for all things web development.',
        url: 'https://code.visualstudio.com/',
      },
      {
        title: 'Warp',
        description:
          "It's like the future has finally arrived in the terminal.",
        url: 'https://warp.dev/',
      },
      {
        title: 'Starship',
        description: 'A minimal, infinitely customizable prompt for any shell.',
        url: 'https://starship.rs/',
      },
      {
        title: 'MonoLisa',
        description:
          'A font designed to improve developers’ productivity and reduce fatigue.',
        url: 'https://monolisa.dev/',
      },
      {
        title: 'GitHub Dark',
        description: 'My editor theme of choice. I like to use Nord as well.',
        url: 'https://marketplace.visualstudio.com/items?itemName=GitHub.github-vscode-theme',
      },
      {
        title: 'Xcode',
        description:
          "You kinda have to use it for Apple development, but it doesn't suck.",
        url: 'https://developer.apple.com/xcode/',
      },
    ],
  },

  {
    title: 'Hardware',
    uses: [
      {
        title: 'Apple Mac Studio',
        description:
          "With the Apple M1 Max from 2022. It's a beast! Love this machine.",
        url: 'https://www.apple.com/mac-studio/',
      },
      {
        title: 'NuPhy Air75',
        description:
          "A wireless mechanical keyboard. It's clicky, it has RGB, so it makes me a better dev. ;)",
        url: 'https://nuphy.com/collections/keyboards/products/air75',
      },
      {
        title: 'LG 27UK850-W',
        description:
          'A 27" 4K monitor. My temporary solution until Apple releases a better Studio Display.',
      },
    ],
  },

  {
    title: 'Desk',
    secondTitle: ' setup',
    uses: [
      {
        title: 'Desktopia Pro X',
        description:
          "An electrical height adjustable desk. It reminds me to stand up by vibrating. It's solid oak and so beautiful.",
        url: 'https://www.ergotopia.de/ergonomie-shop/hoehenverstellbarer-schreibtisch/desktopia-pro-elektrisch-memoryschalter',
      },
      {
        title: 'RECARO Exo FX',
        description:
          'A gaming chair. It keeps me comfortable and focused while working.',
        url: 'https://www.recaro-gaming.com/en/product/recaro-exo-fx-iron-grey/',
      },
    ],
  },

  {
    title: 'Commute',
    secondTitle: 'and on the go',
    uses: [
      {
        title: 'VanMoof S3',
        description:
          'Color: Light. The iPhone of e-bikes. I am in love with the design and the ride.',
        url: 'https://www.vanmoof.com/s3',
      },
      {
        title: 'Apple AirPods Pro',
        description:
          'First generation. My go-to headphones for conferencing and listening to music and podcasts.',
        url: 'https://www.apple.com/airpods-pro/',
      },
    ],
  },

  {
    title: 'Camera',
    secondTitle: 'and Lenses',
    uses: [
      {
        title: 'Canon EOS R6 Mark II',
        description: 'My main camera for photography and video.',
      },
      {
        title: 'Canon RF 35mm f/1.8',
        description:
          'My go-to lens for most of my photography and videography.',
      },
      {
        title: 'Canon RF 70-200mm f/2.8 L',
        description:
          'I love this thing. Sweetest zoom lens I have ever used. Great for portraits and travel.',
      },
    ],
  },
]
---

<Layout seo={seo}>
  <main>
    <BoxedContent>
      <article>
        <h1 class="mb-6 text-4xl font-black">Uses</h1>
        <p class="mb-4 text-xl font-semibold">
          <span class="highlight">tl;dr</span> Wes Bos inspired <span
            class="inline-block rounded-md border border-slate-300 bg-gray-100 px-1 font-mono dark:border-slate-700 dark:bg-slate-900"
            >/uses</span
          > page.
        </p>

        <p class="text-xl">
          Welcome to my Uses page! This is a page where I list out all the
          hardware, software, and tools that I use on a <span class="highlight"
            >daily basis</span
          > to help me stay productive and efficient. Inspired by Wes Bos and his
          popular
          <a
            href="https://wesbos.com/uses"
            target="_blank"
            rel="noopener noreferrer"
            class="link">"Uses" page</a
          >, I wanted to create my own list to share with others who are curious
          about what tools and resources I rely on to get things done.
        </p>
        <p class="mt-4 text-xl">
          So without further ado, let's dive into my tech stack!
        </p>

        <div class="group relative mb-16 mt-8">
          <Picture
            alt="A guy coding at night, sitting on a desk, wearing a hoodie, camera from behind, cartoon, super detailed, ambient lighting (MidJourney v5)"
            formats={['avif', 'webp']}
            src={imageCodingAtNight}
            densities={[1, 2, 3]}
            width={700}
            height={350}
            loading="eager"
            class="hidden -rotate-1 -skew-x-3 rounded-lg shadow-lg dark:block"
          />

          <Picture
            alt="A guy from behind sitting at a Starbucks at day with a laptop and drinking a coffee. He is coding software and is wearing a hoodie. You can't see his face. The light is ambient and the details are super realistic and everything is much detailed. Make it cartoon style and bright. (MidJourney v5)"
            formats={['avif', 'webp']}
            src={imageCodingByDay}
            densities={[1, 2, 3]}
            width={700}
            height={350}
            loading="eager"
            class="block -rotate-1 -skew-x-3 rounded-lg shadow-lg dark:hidden"
          />

          <div
            class="absolute bottom-0 left-8 right-8 z-10 -translate-y-8 -rotate-6 -skew-x-3 rounded bg-gray-700/90 px-4 py-2 text-white opacity-0 backdrop-blur-sm transition duration-300 group-hover:translate-y-3 group-hover:rotate-0 group-hover:opacity-100 sm:px-12 sm:py-4 dark:bg-slate-50/90 dark:text-slate-800"
          >
            <p
              class="hidden text-sm font-medium italic leading-tight dark:inline"
            >
              A guy coding at night, sitting on a desk, wearing a hoodie, camera
              from behind, cartoon, super detailed, ambient lighting (MidJourney
              v5)
            </p>
            <p class="text-sm font-medium italic leading-tight dark:hidden">
              A guy from behind sitting at a Starbucks at day with a laptop and
              drinking a coffee. He is coding software and is wearing a hoodie.
              You can't see his face. The light is ambient and the details are
              super realistic and everything is much detailed. Make it cartoon
              style and bright. (MidJourney v5)
            </p>
          </div>
        </div>

        {
          entries.map((u) => {
            return (
              <UsesList
                title={u.title}
                secondTitle={u.secondTitle}
                uses={u.uses}
              />
            )
          })
        }
      </article>
    </BoxedContent>

    <FluidContent>
      <h2 class="mb-12 flex items-center text-4xl font-black">
        <span
          >My Default Browser <span class="font-light"
            >(in real-time ⚡️👨‍💻)</span
          ></span
        >
      </h2>
      <p class="mb-8 text-xl">
        Welcome to my Default Browser section - where I showcase my
        indecisiveness in <span class="highlight">real-time</span> via <span
          class="highlight">Server-sent events</span
        >. Whether I'm feeling a fiery passion for Firefox or a magnetic
        attraction to Safari, this section will always reveal which browser has
        stolen my heart (for now). So sit back, let it refresh, and witness the
        drama unfold. It's like The Bachelor, but for browsers.
      </p>

      <CurrentBrowser client:only />

      <div class="mt-12 text-center">
        <a
          href="/reads/default-browser-server-sent-events"
          class="inline-flex -skew-x-6 items-center rounded bg-gradient-to-tr from-pink-500 to-blue-500 px-8 py-2 font-mono font-semibold text-white transition-all duration-150 hover:z-10 hover:rotate-0 hover:skew-x-0 hover:scale-150 hover:shadow-2xl"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="mr-2 h-5 w-5"
          >
            <path
              d="M12 .75a8.25 8.25 0 00-4.135 15.39c.686.398 1.115 1.008 1.134 1.623a.75.75 0 00.577.706c.352.083.71.148 1.074.195.323.041.6-.218.6-.544v-4.661a6.714 6.714 0 01-.937-.171.75.75 0 11.374-1.453 5.261 5.261 0 002.626 0 .75.75 0 11.374 1.452 6.712 6.712 0 01-.937.172v4.66c0 .327.277.586.6.545.364-.047.722-.112 1.074-.195a.75.75 0 00.577-.706c.02-.615.448-1.225 1.134-1.623A8.25 8.25 0 0012 .75z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M9.013 19.9a.75.75 0 01.877-.597 11.319 11.319 0 004.22 0 .75.75 0 11.28 1.473 12.819 12.819 0 01-4.78 0 .75.75 0 01-.597-.876zM9.754 22.344a.75.75 0 01.824-.668 13.682 13.682 0 002.844 0 .75.75 0 11.156 1.492 15.156 15.156 0 01-3.156 0 .75.75 0 01-.668-.824z"
              clip-rule="evenodd"></path>
          </svg>

          <span>How does this work?</span></a
        >
      </div>
    </FluidContent>
  </main>
</Layout>
