---
import type { Uses } from '../pages/uses/index.astro'

export interface Props {
  title: string
  secondTitle?: string
  uses: Uses[]
}

const { title, secondTitle, uses } = Astro.props
---

<h2 class="mb-8 mt-12 text-3xl font-semibold">
  <span class="highlight">{title}</span>{secondTitle ? ` ${secondTitle}` : ''}
</h2>

<ul class="fancy-list space-y-2">
  {
    uses.map((u) => {
      return (
        <li class="text-xl">
          {u.url ? (
            <a href={u.url} target="_blank" rel="noopener noreferrer">
              <strong>{u.title}:</strong>
            </a>
          ) : (
            <strong>{u.title}:</strong>
          )}{' '}
          {u.description}
        </li>
      )
    })
  }
</ul>
